    <div class="find-me">
      Я на:
      <ul>
        <li><a href="//brainstorage.me/rodweb">Brainstorage</a></li>
        <li><a href="//twitter.com/ru_rodweb">Twitter</a></li>
        <li><a href="//github.com/rodweb">Github</a></li>
      </ul>
    </div>
  </div>
  <script>
    window.onload = function () { document.body.classList.add('ready') };
  </script>
</body>
</html>
