<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="iHan7fpXfVb1N6CfqlUYFQCdI7SUaP85uSbsO7bdhFw">
  <title>Rodweb — развиваюсь и совершенствуюсь в области веб-разработки</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic">
  <link rel="stylesheet" href="{{assets}}/components/normalize-css/normalize.css">
  <link rel="stylesheet" href="{{assets}}/css/styles.css">
</head>
<body>
  <div id="bg"></div>
  <div class="content">
