.page
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  font-family Ubuntu, sans-serif

  &::before
    content ''
    position absolute
    z-index -1
    top 0
    right 0
    bottom 0
    left 0
    background #fff linear-gradient(to bottom, lighten($cl-primary, 90%) 0%, #fff 100%)
