.profile
  display flex
  flex-direction column
  align-items center

  &__pic
    position relative
    margin-bottom 2rem
    width 200px
    height 200px
    background url('../images/me.jpg') no-repeat 50% 50%
    background-size cover
    border-radius 50%

  &__name
    margin 0 0 .5rem
    font-size 2.4rem
    font-weight 300
    color $cl-primary

  &__title
    margin 0
    font-weight 300
    font-size 1.4rem
    text-transform lowercase
    color $cl-mute
