include ./icon

mixin contacts()
  +b.contacts&attributes(attributes)
    each item in contacts
      +e('a').item(href=item.url target='_blank' data-title=item.title)
        if item.name == 'moikrug'
          +e('span').icon M
        else
          +icon(item.name).__icon
