border-radius()
  -webkit-border-radius arguments
  border-radius arguments

box-sizing()
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
